{
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "semi": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
